@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
	/* Primary */
	--light-red: hsl(0, 100%, 67%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--green-teal: hsl(166, 100%, 37%);
	--cobalt-blue: hsl(234, 85%, 45%);

	/* Gradients */
	--light-slate-blue: hsl(252, 100%, 67%); /* background */
	--light-royal-blue: hsl(241, 81%, 54%); /* background */
	--violet-blue: hsla(256, 72%, 46%, 1); /* circle */
	--persian-blue: hsla(241, 72%, 46%, 0); /* circle */

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk';
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1.5fr 2fr;
}
/* Up Section */
.up {
	display: grid;
	grid-template-rows: 10% 55% 35%;
	border-radius: 0 0 30px 30px;
	background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.header {
	text-align: center;
	color: var(--light-lavender);
	font-size: 14px;
	padding: 0.5rem;
}

.circle-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 50px;
	border-radius: 50%;
	background: linear-gradient(var(--violet-blue), var(--persian-blue));
	padding: 1.5rem 2rem;
	color: var(--white);
	font-weight: 800;
}

.circle span {
	font-size: 16px;
	color: var(--light-lavender);
}

.resume {
	text-align: center;
	width: 75%;
	margin: auto;
	color: var(--white);
	padding-bottom: 1.5rem;
}

.resume p {
	color: var(--light-lavender);
}

/* Down section */

.down {
	display: grid;
	grid-template-rows: 10% 75% 15%;
	padding: 1rem;
}

.down div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.down article {
	display: flex;
	padding: 1rem;
	border-radius: 20px;
	margin-bottom: 0.5rem;
	font-weight: 700;
}

.down article img {
	margin-right: 0.5rem;
}

.reaction {
	color: var(--light-red);
	background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
	color: var(--orangey-yellow);
	background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
	color: var(--green-teal);
	background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
	color: var(--cobalt-blue);
	background-color: hsla(234, 85%, 45%, 0.1);
}

.score {
	margin-left: auto;
	color: var(--dark-gray-blue);
	font-weight: 800;
}

.score span {
	color: rgba(128, 128, 128, 0.7);
}

/* Footer */
.attribution {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 0.5rem;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

button {
	font-size: 18px;
	color: var(--white);
	background-color: var(--dark-gray-blue);
	padding: 0.7rem;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

button:hover {
	background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

@media screen and (min-width: 750px) {
	body {
		min-height: 100vh;
		background-color: var(--pale-blue);
	}

	.wrapper {
		background-color: var(--white);
		margin-top: 5rem;
		min-height: 0px;
		height: 500px;
		width: 750px;
		margin: auto;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		margin-top: 5rem;
		border-radius: 30px;
	}

	.up {
		border-radius: 30px;
	}

	.circle {
		padding: 3.5rem 4rem;
		font-size: 100px;
	}
}
