@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
	/* Primary */
	--light-red: hsl(0, 100%, 67%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--green-teal: hsl(166, 100%, 37%);
	--cobalt-blue: hsl(234, 85%, 45%);

	/* Gradients */
	--light-slate-blue: hsl(252, 100%, 67%); /* background */
	--light-royal-blue: hsl(241, 81%, 54%); /* background */
	--violet-blue: hsla(256, 72%, 46%, 1); /* circle */
	--persian-blue: hsla(241, 72%, 46%, 0); /* circle */

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk';
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 45% 65%;
}

.up {
	display: grid;
	grid-template-rows: 10% 55% 35%;
	border-radius: 0 0 30px 30px;
	background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.header {
	text-align: center;
	color: var(--light-lavender);
	font-size: 14px;
	padding: 0.5rem;
}

.circle-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 50px;
	border-radius: 50%;
	background: linear-gradient(var(--violet-blue), var(--persian-blue));
	padding: 1.5rem 2rem;
	color: var(--white);
	font-weight: 800;
}

.circle span {
	font-size: 16px;
	color: var(--light-lavender);
}

.resume {
	text-align: center;
	width: 75%;
	margin: auto;
	color: var(--white);
	padding-bottom: 1.5rem;
}

.resume p {
	color: var(--light-lavender);
}

/* Footer */
.attribution {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-bottom: 0.5rem;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
